* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
}

.sect3h,
.our-menu,
.course-head,
.dish-name,
.price,
.reservation,
.table,
.footer {
  color: #4aab00;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  background: rgb(1, 8, 20);
}

.hero {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  font-size: 1.25rem;
}

.section1,
.book {
  background: linear-gradient(
      to bottom right,
      #000937,
      rgba(0, 16, 41, 0.7),
      rgba(5, 31, 39, 0.4),
      rgba(37, 130, 27, 0)
    ),
    url("./img/3041.png");
}

header {
  background-image: linear-gradient(to right, #000937, #0f1413);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  min-width: 100vw;
  height: 10vh;
}

.fa-bars {
  color: white;
  margin-right: 1em;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 2em;
}

.nav-items {
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link {
  font-size: 0.9rem;
  margin: 0.3em;
}

button {
  background-color: #4aab00;
  height: 30px;
  width: 100px;
  color: white;
}

.foody {
  color: white;
  font-size: 2.25rem;
  margin-left: 2.5em;
}

a {
  text-decoration: none;
  color: white;
}

.section1 {
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 90vh;
  display: flex;
  align-items: center;
  color: white;
}

.section1__text {
  text-align: left;
  margin-left: 5em;
  margin-right: 20em;
}

/* section 2  */

.section2 {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}

.section2__text {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin-left: 8em;
}

.details2 {
  margin-top: 1em;
}
.sect2img {
  height: 18em;
  width: 18em;
  margin-right: 8em;
  box-shadow: 0.5em 0.5em 2em rgba(39, 39, 39, 0.468);
}

/* section 3 */

.pictures {
  width: 7.8em;
  height: 9em;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 {
  background-color: #ffffff;
  background-image: url("./img/BACKGROUND\ IMAGE\ Image.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3__img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sect3h {
  color: #4aab00;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.sect3p {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin: 0.5em auto 0.75em auto;
  width: 40%;
}
.card-img {
  height: 75%;
  width: 97%;
  margin: 0.1em 0.05em;
}
.card-txt {
  margin: 1em auto;
  text-align: center;
  font-size: 0.75rem;
}

/* menu */

.overlay {
  background-color: rgba(233, 233, 233, 0.95);
  height: 112vh;
  width: 100vw;
  z-index: 0;
  position: absolute;
}

.menu-content {
  position: absolute;
  z-index: 1;
  width: 100vw;
}

.menu-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  background-image: url(./img/3041.png);
  background-position: center;
  height: 112vh;
  margin: 0em;
}

.menu-head {
  text-align: center;
}

.our-menu {
  margin: 1em auto 0.3em auto;
  font-weight: 700;
}

.menu-subhead {
  font-size: 0.8rem;
  margin-top: 0em;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
}

.menu-lt,
.menu-rt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.dish {
  margin: 0.5em auto;
}

.dish-name {
  margin: 0.05em auto;
}

.dish-description {
  font-size: 0.75rem;
  width: 30em;
  margin: 0em;
  display: flex;
  flex-direction: row;
}

.dish-text {
  margin-right: 0em;
}

.price {
  font-size: 1rem;
  margin: 0.5em 4.3em 0 0;
}

.course-head {
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0em;
}

.menu-details {
  z-index: 2;
  margin: 2.5em auto 2em auto;
}

hr {
  width: 50px;
}

/* Bottom */

.book {
  text-align: center;
  height: 80vh;
  margin: 0em;
  background-size: stretch;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  color: white;
}

.reservation {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

label {
  font-size: 0.75rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.book-now {
  align-content: center;
}

footer {
  bottom: 0 !important;
  width: 100vw;
}

.footer-content {
  background: rgb(1, 8, 20);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 10vh;
  margin: 0em;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.foody2 {
  margin-bottom: 0.2em;
  font-size: 1.2rem;
}

.copyright {
  margin-top: 0em;
}

.credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

@media screen and (max-width: 600px) {
  body {
    min-width: 100vw;
    margin: 0em;
  }
  .hero {
    min-width: 100vw;
    margin: 0em;
  }
  .foody {
    font-size: 2rem;
  }
  .foody {
    margin-left: 0.5em;
  }
  .fa-bars {
    margin-right: 0;
  }
  .buy-now,
  .nav-items,
  .small-credit {
    display: none;
  }
  .section1_h1 {
    font-size: 1.5rem;
  }
  .section1__text {
    margin: 1em;
    font-size: 0.75rem;
    text-align: center;
  }
  .section1 {
    background-size: cover;
    background-position: center;
  }
  .small-sect2img {
    height: 10em;
    width: 10em;
    margin: 0.5em;
  }
  .section2__text {
    margin: 0 1em 0 0.5em;
  }
  .section3__img-container {
    flex-flow: wrap;
  }
  .menu-items {
    flex-direction: column;
  }
  .menu {
    height: 200vh;
  }
  .overlay {
    height: 200vh;
  }
}
